/* index.css */

body {
    font-family: Arial, sans-serif; /* Шрифт для текста */
    background-color: #f4f4f4; /* Цвет фона страницы */
    margin: 0; /* Убираем отступы */
    padding: 20px; /* Добавляем внутренние отступы */
}

/* Стили для заголовка */
h1 {
    color: #333; /* Цвет текста заголовка */
    text-align: center; /* Центрируем заголовок */
}

/* Стили для ссылок */
a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #007BFF; /* Цвет текста ссылок */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для списка опросов */
ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 2; /* Убираем внутренние отступы */
}

li {
    background: #fff; /* Цвет фона для элементов списка */
    margin: 10px 0; /* Отступы между элементами списка */
    padding: 10px; /* Внутренние отступы для элементов списка */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для элементов списка */
}

/* Стили для ссылки в списке */
li a {
    display: block; /* Заставляем ссылку занимать всю ширину элемента списка */
}