body {
    font-family: Arial, sans-serif; /* Шрифт для текста */
    background-color: #f4f4f4; /* Цвет фона страницы */
    margin: 0; /* Убираем отступы */
    padding: 20px; /* Добавляем внутренние отступы */
}

/* Стили для заголовка */
h1 {
    color: #333; /* Цвет текста заголовка */
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для списка результатов */
ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    max-width: 600px; /* Максимальная ширина списка */
    margin: 0 auto; /* Центрируем список */
}

/* Стили для элементов списка */
li {
    background: #fff; /* Цвет фона для элементов списка */
    margin: 10px 0; /* Отступы между элементами списка */
    padding: 10px; /* Внутренние отступы для элементов списка */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для элементов списка */
}

/* Стили для ссылки "Назад к опросам" */
p a {
    color: #007BFF; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    display: block; /* Заставляем ссылку занимать всю ширину родителя */
    margin-top: 20px; /* Отступ сверху */
    text-align: center; /* Центрируем ссылку */
}

p a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}